# Nix
.direnv/
result

# Node
node_modules/
dist/

# Playwright
web/playwright/playwright-report/
web/playwright/test-results/

# Cypress
web/cypress/cypress/videos/
web/cypress/cypress/screenshots/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Android / Gradle
android/.gradle/
android/build/
*.apk

# Env
.env
.env.local
